 <h4> join partial placeholder </h4>

 <table class="table table-hover">
    <thead>
    <tr> 
      <th> ETC... </th>
    </tr> 
  </thead>
     <tbody>
       <% User.all.each do |user| %>
      <tr>
        <td> Display allowed users here </td>
      </tr>
      <% end %>
    </tbody>
 </table>



  <table class="table table-hover">
    <thead>
    <tr> 
      <th> Collaborators </th>
    </tr> 
  </thead>
     <tbody>
       <% User.all.each do |user| %>
      <tr>
        <!-- if an allowed user of the wiki, display them here -->
        <td> <%= @wiki.allowed_users %> </td>
      </tr>
      <% end %>
    </tbody>
 </table>


  <table class="table table-hover">
    <thead>
    <tr> 
      <th> Collaborators </th>
    </tr> 
  </thead>
     <tbody>
       <% User.all.each do |user| %>
      <tr>
        <!-- if an allowed user of the wiki, display them here -->
        <td> <%= @wiki.allowed_users %> </td>
      </tr>
      <% end %>
    </tbody>
 </table>



